.error {
    font-style: italic;
    color: yellow;
}

.required{
    font-style: oblique;
}

* {
    /*padding: 0px;*/
    margin: 0px;
}

a {
    color: #77ddc9;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin-left: 2px;
}

h1{
    font-size: 14pt;
    margin-top: 7px;
    margin-bottom: 3px;
}

h2{
    font-size: 11pt;
    margin-top: 7px;
    margin-bottom: 3px;
}

table{
    margin-top: 5px;
}

body{
    font-family: verdana, sans-serif;
    font-size: 10pt;
    color: white;
    background: url("/static/nebula_bg.jpg") top center no-repeat black;
}

font.note{
    color: #f4ee00;
}

font.minor_note{
    font-size: 10px;
}

font.important{
    color: #ff3333;
}

font.zero_count, font.zero_count a{
    color: #787878;
}

td.stats-cat{
    width: 100px;
}

td.stats-val{
    text-align: right;
}

div#detail-stats{
    height: 140px;
    width: auto;
}

div#detail-stats td.none_found{
    color: #f4ee00;
    width: 200px;
}

div#buy-stats{
    float:left;
    margin-right: 20px;
}

div#sell-stats{
    float:left;
}

div#detail-stats caption{
    font-weight: bold;
    text-align: left;
    color: white;
}

div#detail-stats table{
    font-size: 9pt;
    width: 250px;
    border-collapse: collapse;
}

div#detail-stats tr.even{
    background-color: #2c2c2c;
}

div#detail-stats tr.odd{
    background-color: #131313;
}

div#attributes table{
    font-size: 8pt;
    width: 250px;
    border-collapse: collapse;
}

div#attributes tr.even{
    background-color: #2c2c2c;
}

div#attributes tr.odd{
    background-color: #131313;
}

td.attr-cat{
    width: 200px;
}

td.attr-val{
    text-align: right;
}

/* top nav bar */
#menu_border{
    padding: 10px 10px 10px 10px;
    margin: auto;
    width: 96%;
    height: 15px;
    background:url("/static/border.png") repeat;
}

#menu{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    font-size: 13px;
    float: left;
}

#theme{
    padding-top: 1px;
    padding-bottom: 1px;
    float: right;
    height: auto;
    width: auto;
}

/* main content */
#content_border{
    width: 96%;
    background:url("/static/border.png") repeat;
    padding: 10px 10px 10px 10px;
    margin: auto;
    margin-bottom: 15px;
    float: none;
}

#content{
    width: auto;
    padding: 7px;
    background-color:rgba(13,13,13,.95);
    margin: auto;
}

/* footer */
#footer{
    padding: 3px;
    margin: 3px;
}