{% extends "/home/django/templates/records/base.html" %}
    {% block content %}
        <h1>Loyalty Point Calculator</h1>
        <h2>Step 1 of 2</h2>
        <form method="get" action="{% url marketanalyzer.views.lp_calc %}">
         Selection:<br>{{ form.item }}<br><br>
         Spendable LP: {{ form.spendable }}<br><br>
         {% if not formset %}
            <input type="submit" value="Submit" /><br><br>
        {% endif %}
        <input type=hidden name='step' value='1'/>
        </form>
        <font class="note">Use CTRL/SHIFT to select multiple items.<br>
        Brackets indicate typeID, parentheses indicate order count.</font><br>
        <font class="important">This is not 100% validated; bad things can happen if the right stats aren't available for an item. Also, don't rely on bookmarking anything but the last step for now.</font><br>
    {% endblock content %}