{% extends "/home/django/templates/records/base.html" %}
    {% block content %}
        <h1>Loyalty Point Calculator</h1>
        <h2>Step 3 of 3</h2>
        <form method="get" action="">
            {{ formset.management_form }}
            <table>
                {% for form in formset %}
                    {{ form.item_name }}
                    {{ form.as_p }}<br>
                {% endfor %}
            </table>
            <input type="submit" value="Submit">
            <input type=hidden name='items' value='{% for i in items %}{{ i|safe }};{% endfor %}'/>
            <input type=hidden name='spendable' value='{{ spendable }}'/>
            <input type=hidden name='corp_id' value='{{ corp_id }}'/>
            <input type="hidden" name="step" value="3"/>
        </form>
    {% endblock content %}