{% extends "/home/django/templates/records/base.html" %}
    {% block content %}
        <h1>Loyalty Point Calculator</h1>
        <h2>Step 1 of 3</h2>
        <form method="get" action="{% url marketanalyzer.views.lp_calc %}">
         Corp: {{ form.corp }}<br><br>
         Spendable LP: {{ form.spendable }}<br><br>
         {% if not formset %}
            <input type="submit" value="Submit" /><br><br>
        {% endif %}
        {{ form.step }}
        <input type="hidden" name="step" value="1"/>
        </form>
    {% endblock content %}