{% extends "/home/django/templates/records/base.html" %}
    {% block content %}
        <h1>Loyalty Point Calculator</h1>
        <h2>Step 2 of 3</h2>
        <form method="get" action="{% url marketanalyzer.views.lp_calc %}">
            {{ form }}
            <input type="submit" value="Submit" /><br><br>
            <input type=hidden name='corp' value='{{ corp }}'/>
            <input type=hidden name='spendable' value='{{ spendable }}'/>
            <input type="hidden" name="step" value="2"/>
        </form>
        <font class="note">Use CTRL/SHIFT to select multiple items.<br>
        Brackets indicate typeID, parentheses indicate order count.</font><br>
        <font class="important">Currently only allowing items with tracked buy and sell orders.</font><br>
    {% endblock content %}