{% extends "/home/django/templates/records/base.html" %}
{% load pretty_numbers %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen-{{ selected_theme }}.css" />
{% endblock head %}

{% block content %}
    <h1>{{ item.typeName }}</h1>
    <h2>LP Store Entry</h2>
    <div id="lp_data">
        
    </div>
    {% if attrs %}
    <div id="attributes">
        <h2>Attributes</h2>
        <table>
            {% for key, val in attrs.items %}
            <tr class="{% cycle 'even' 'odd' %}"><td class="attr-cat">{{ key }}</td><td class="attr-val">{{ val }}</td></tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br>
    {% include "/home/django/templates/records/type_detail-dt2.html" %}
{% endblock content %}