{% extends "/home/django/templates/records/base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/autocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen-dark.css" />
{% endblock head %}

{% block content %}
    <h1>LP Reward Search</h1>
    <form method="get">
        <div>
            <script type="text/javascript" >
                $(function(){
                  setAutoComplete("id_typeid", "type_results", "/lp_lookup/?query=");
                });
            </script>
                {{ filter_form.as_p }}
                <input type="submit" value="Search" />
        </div>
    </form>
<br>
<font class="note">Searching is not case-sensitive and performs a logical AND on all terms.</font><br><br>
{% if query_string %}
You searched for: "{{ query_string }}"<br>
{% endif %}

{% if results %}
{% load django_tables2 %}
{% render_table results %}
{% endif %}
{% endblock content %}