{% extends "/home/django/templates/records/base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/autocomplete.js"></script>
{% endblock head %}

{% block content %}
    <h1>Market Search</h1>
    <form method="get">
        {% include "/home/django/templates/records/lookup.html" %}
        <input type="submit" value="Search" />
    </form>
    <font class="note">Searching is not case-sensitive and performs a logical AND on all terms.</font><br>
    {% if query_string %}
    <font class="important">The number in parentheses is outstanding market orders.</font><br><br>
    You searched for: {{ query_string }}<br><br>
    {% endif %}
    
    {% if found_entries %}
        <p>Results:
        {% for entry in found_entries %}
            <li><font{% if entry.marketrecord_set.count == 0 %} class="zero_count"{% endif %}><a href="/records/type_detail/{{ entry.typeID }}">{{ entry.typeName }}</a> ({{ entry.marketrecord_set.count }})</li></font>
        {% endfor %}
    {% endif %}
    </p>
    
{% endblock content %}