{% extends "/home/django/templates/records/base.html" %}
{% load pretty_numbers %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen-dark.css" />
{% endblock head %}

{% block content %}
    <h1>{{ item.typeName }}</h1>
    <h2>Statistics</h2>
    <div id="detail-stats">
        <div id="buy-stats">
        <table>
            <caption>Buy Orders</caption>
            <tr class="even"><td class="stats-cat">Mean price</td><td class="stats-val">{{ item.meanBuyPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="odd"><td class="stats-cat">Median price</td><td class="stats-val">{{ item.medianBuyPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="even"><td class="stats-cat">High price</td><td class="stats-val">{{ item.highBuyPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="odd"><td class="stats-cat">Low price</td><td class="stats-val">{{ item.lowBuyPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="even"><td class="stats-cat">Std deviation</td><td class="stats-val">{{ item.stdDevBuy|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="odd"><td class="stats-cat">Variance</td><td class="stats-val">{% if item.varianceBuy != None %}{{ item.varianceBuy|floatformat:2 }}{% else %}None{% endif %}</td></tr>
            {% if buy.rows.count == 0 %}<tr><td class="none_found">No buy orders found.</td></tr>{% endif %}
        </table>
        </div>
        <div id="sell-stats">
        <table>
            <caption>Sell Orders</caption>
            <tr class="even"><td class="stats-cat">Mean price</td><td class="stats-val">{{ item.meanSellPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="odd"><td class="stats-cat">Median price</td><td class="stats-val">{{ item.medianSellPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="even"><td class="stats-cat">High price</td><td class="stats-val">{{ item.highSellPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="odd"><td class="stats-cat">Low price</td><td class="stats-val">{{ item.lowSellPrice|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="even"><td class="stats-cat">Std deviation</td><td class="stats-val">{{ item.stdDevSell|comma_trunc:"N/A"|isk }}</td></tr>
            <tr class="odd"><td class="stats-cat">Variance</td><td class="stats-val">{% if item.varianceBuy != None %}{{ item.varianceSell|floatformat:2 }}{% else %}None{% endif %}</td></tr>
            {% if sell.rows.count == 0 %}<tr><td class="none_found">No sell orders found.</td>{% endif %}
        </table>
        </div>
    </div>
    {% if attrs %}
    <div id="attributes">
        <h2>Attributes</h2>
        <table>
            {% for key, val in attrs.items %}
            <tr class="{% cycle 'even' 'odd' %}"><td class="attr-cat">{{ key }}</td><td class="attr-val">{{ val }}</td></tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br>
    {% include "/home/django/templates/records/type_detail-dt2.html" %}
{% endblock content %}