table.paleblue {
    border-collapse: collapse;
    border-color: #CCC;
    border: 0px solid #DDD;
    width: 100%
}

table.paleblue,
table.paleblue +  ul.pagination {
    font: normal 11px/14px Verdana, Arial, sans-serif;
}

table.paleblue a:link,
table.paleblue a:visited,
table.paleblue + ul.pagination > li > a {
    color: #5B80B2;
    text-decoration: none;
    font-weight: bold;
}

table.paleblue a:hover {
    color: #036;
}

table.paleblue td,
table.paleblue th {
    padding: 5px;
    line-height: 13px;
    border-bottom: 0px solid #EEE;
    border-left: 0px solid #DDD;
    text-align: left;
}

table.paleblue thead th:first-child,
table.paleblue thead td:first-child {
    border-left: none !important;
}

table.paleblue thead th,
table.paleblue thead td {
    /*background: #FCFCFC url(../img/header-bg.gif) top left repeat-x;*/
    background-color: #2c2c2c;
    border-bottom: 0px solid #DDD;
    padding: 2px 5px;
    font-size: 11px;
    vertical-align: middle;
    white-space: nowrap;
    color: white;
}

table.paleblue th.security{
    width: 20px;
}

table.paleblue th.regionName{
    width: 120px;
}

table.paleblue th.price{
    width: 110px;
}

table.paleblue th.volRemaining{
    width: 50px;
}

table.paleblue th.issueDate{
    width: 140px;
}

table.paleblue th.duration{
    width: 140px;
}

table.paleblue th.lastUpdated{
    width: 200px;
}

table.paleblue th.profit{
    text-align: right;
}
table.paleblue td.profit{
    text-align: right;
}

table.paleblue thead th > a:link,
table.paleblue thead th > a:visited {
    color: white;
    display: block;
}

table.paleblue thead th.sortable.security > a {
    background: url(../img/arrow-inactive-up.png) 28px center no-repeat;
}

table.paleblue thead th.sortable.regionName > a {
    background: url(../img/arrow-inactive-up.png) 50px center no-repeat;
}

table.paleblue thead th.sortable.stationName > a {
    background: url(../img/arrow-inactive-up.png) 52px center no-repeat;
}

table.paleblue thead th.sortable > a {
    padding-right: 20px;
    background: url(../img/arrow-inactive-up.png) right center no-repeat;
}
table.paleblue thead th.sortable.asc > a {
    background-image: url(../img/arrow-active-up.png);
}
table.paleblue thead th.sortable.desc > a {
    background-image: url(../img/arrow-active-down.png);
}

table.paleblue tr.odd {
    background-color: #131313;
}

table.paleblue tr.even {
    background-color: #2c2c2c;
}

table.paleblue + ul.pagination {
    background: white url(../img/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 0px solid #DDD;
    list-style: none;
}

table.paleblue + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.paleblue + ul.pagination > li:first-child {
    margin-left: 0;
}

div.table-container {
    display: inline-block;
}
